.features {
  padding: 0 20px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-bottom: 104px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    margin-bottom: 43px;
  }
}

.features__title {
  @include text (36px, 40px);
  font-weight: 400;
  margin: 0 0 38px;

  @media (min-width: $tablet-width) {
    @include text (60px, 60px);
    margin-bottom: 72px;
  }
}

.features__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 134px;
    counter-reset: features-counter;
  }

  @media (min-width: $desktop-width) {
    column-gap: 95px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.features__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    flex-direction: column;
    counter-increment: features-counter;

   &:not(:last-child) {
    margin-bottom: 0;
  }

   &::after {
    position: absolute;
    content: counter(features-counter);
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: $bg-silver;
    right: 0;
    width: 166px;
    top: -29px;
    right: 33px;
    z-index: -1;
   }
  }

  @media (min-width: $desktop-width) {
   &::after {
    right: -33px;
   }
  }
}

.features__icon {
  min-width: 60px;
  height: 60px;
  background: $color-green;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }

  &--leaf {
    background-image: url(../../img/icon-leaf.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--tub {
    background-image: url(../../img/icon-tub.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--eat {
    background-image: url(../../img/icon-eat.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--alarm {
    background-image: url(../../img/icon-alarm.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.features__description {
  @include text-mobile;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include text (16px, 24px);
  }
}
