body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: $font-family;
  color: $text-base;

  background-color: $bg-white;
  list-style: none;

  min-width: 305px;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $text-base;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
