@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-display: swap;
  src: url("..//../fonts/Oswaldregular.woff2") format("woff2"), url("..//../fonts/Oswaldregular.woff") format("woff");
}

