$font-family: "Oswald", "Arial", sans-serif;

$bg-white: #ffffff;
$bg-silver: #F2F2F2;
$text-silver: #444444;
$text-base: #111111;
$color-green: #68b738;
$text-green: #68b738;

$desktop-width: 1300px;
$tablet-width: 768px;
$mobile-width: 330px;
